@font-face {
  font-family: 'Campton';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/CamptonBook.woff2) format('woff2');
}

@font-face {
  font-family: 'Campton';
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/CamptonMedium.woff2) format('woff2');
}
